.blog-img{
    overflow: hidden;
    text-align: center;
}
.blog-img img{
    display: inline-block;
    transition: all 1.1s ease-in-out;
}
.blog-img img:hover{
    transform: scale(1.2);
}
.blog-card:hover{
    box-shadow: 0 0 11px rgba(17, 15, 15, 0.37)!important; 
    transform: scale(1.02);
}
.blog-card{
    transition: .3s;
}